.loader
{
    margin: 0;
    padding: 0;
    font-family: consolas;
    overflow-y:hidden;
    overflow-x:hidden;
    background-color: #000;
    position: absolute;
    z-index: 500;
    width: 100%;
    
}
.body-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/951857668148675039/DEE6B85887DB25E1C531CC813CE37D2231936DD8/?imw=116&imh=65&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true");
    background-repeat: no-repeat;
    background-size: 100%;
}
.h2-loader{
    color: #000;
    font-size: 6em;
    display: flex; 
}
h2 span{
    animation: animati 2s linear infinite;
}
h2 span:nth-child(1){
    animation-delay: 0s;
}
h2 span:nth-child(2){
    animation-delay: 0.1s;
}
h2 span:nth-child(3){
    animation-delay: 0.2s;
}
h2 span:nth-child(4){
    animation-delay: 0.3s;
}
h2 span:nth-child(5){
    animation-delay: 0.4s;
}
h2 span:nth-child(6){
    animation-delay: 0.5s;
}
h2 span:nth-child(7){
    animation-delay: 0.6s;
}
h2 span:nth-child(8){
    animation-delay: 0.7s;
}

@keyframes animati {
    0%, 100%
    {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff,0 0 40px #00b3ff, 0 0 80px #00b3ff,0 0 120px #00b3ff,0 0 200px #00b3ff,0 0 300px #00b3ff,0 0 400px #00b3ff; 
    }
    25%, 75%
    {
        color: #000;
        filter: blur(0px);
        text-shadow: none; 
    }
}