.cover{
    position: absolute;
    margin-top: -100px;
    height: 4810px;
    width: 100%;
    z-index: -200;
    background-image:url("./assets/star55.gif"); 
    background-repeat: repeat;
    background-size: 100%;
  }